@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline;
  }

  button {
    text-transform: unset;
  }
  
  .px-container {
    @apply px-2;
  }
  
  .mx-container {
    @apply mx-2;
  }

  @screen tablet {
    .px-container {
      @apply px-4;
    }
  
    .mx-container {
      @apply mx-4;
    }
  }
  
  @screen desktop {
   .px-container {
      @apply px-12;
    }

    .mx-container {
      @apply mx-12;
    } 
  }
}

@layer components {
  @keyframes sliding-text-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes appear-animation {
    0% {
      opacity: 0;
      transform: translateY(96px);
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }

  .h-navbar {
    height: 3rem;
  }

  @screen tablet {
    .h-navbar {
      height: 4.5rem;
    }
  }

  @screen desktop {
    .h-navbar {
      height: 4rem;
    }
  }
}

@layer utilities {
}
