@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline;
  }

  img, video {
    @apply select-none;
  }

  button {
    text-transform: unset;
  }

  *::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer components {
  .project-detail-grid {
    @apply px-18 grid grid-cols-8 gap-x-8;
  }

  @keyframes sliding-text-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes appear-animation {
    0% {
      opacity: 0;
      transform: translateY(50%);
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      transform: translateY(0%);
    }
  }
}

@layer utilities {
}
