@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline;
  }

  .px-container {
    @apply px-12;
  }

  .mx-container {
    @apply mx-12;
  }
}

@layer components {
  @keyframes sliding-text-animation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes appear-animation {
    0% {
      opacity: 0;
      transform: translateY(96px);
    }
    50% {
      opacity: 0;
    }
    55% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
}

@layer utilities {
}
